<form>


    <div class="BoxLogin">

        <div class="LoginHeading">
            Linda's login form, Welcome Devils!! 
        </div>
        <hr>
  <div class=" form-group">
    <label for="inputdefault">User Name</label>
    <input class="form-control" [(ngModel)]="login.UserName" name="UserName"  type="text" >
 
  </div>

<div class="form-group">
    <label for="inputdefault">Password</label>
    <input class="form-control" [(ngModel)]="login.Password" name="Password"  type="password" >
  </div>
  <div style="text-align: center; color: red">{{ErrorValue}}</div>
<button type="button" (click)=LoginFrom() class="btn btn-primary col-md-2 MoveButton">Login</button>

   </div>
</form>