.BoxLogin{
    height: auto;
    background-color: white;
    margin-top: 154px;
    padding: 20px;
    width: 40%;
    margin-left: 30%;
}

.form-control {
      margin-left: 21%;
    display: block;
    width: 62%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-left: 18%;
}

.MoveButton{
    margin: 20px;
    margin-left: 40%;
}

.LoginHeading{
        text-align: center;
    font-size: x-large;
}